{{ form_errors(form) }}
{{ form_row(form.code) }}
{{ form_row(form.apiKey, {'attr': {'autocomplete' : 'off'}}) }}
{{ form_row(form.exportAll) }}

<div class="ui divider"></div>

{% for list in form.lists %}
    {{ form_row(list.listId, {'attr': {'autocomplete' : 'off'}}) }}
    {{ form_row(list.channels) }}
    {{ form_row(list.locales) }}
{% endfor %}
